<nav class="navbar navbar-dark bg-dark">
  
        <a class="navbar-brand" href="{% url 'index'  %}">Tedarikçi Kayıt Yönetim Sistemi</a>
        
        
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'tedarikci:suppliers'  %}">Tedarikçiler</a>
            </li>
            
          </ul>

          <ul class="navbar-nav ml-auto">
        
          
          </ul>
        </div>
</nav>